<div id="<%= dom_id application %>">
  <p>
    <strong>Name:</strong>
    <%= application.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= application.user_id %>
  </p>

</div>
