
<div class="about">
  <h1>About This Project</h1>
  <p>
    This is a simple Rails application to use in times where you search for a job
  </p>
  <br />
  <p>
    This website serves for an english project in my school.
  </p>
  <br />
  <div class="a-container">
    <a href="https://www.bfsu.ch/">Visit school website</a>
  </div>
</div>