@import 'variables';

header{
  background-color: $background-color;
  display: flex;
  padding: 12px;
  height: 64px;
  display: flex;
  justify-content: space-between;

  a{
    margin: 0 10px;
    text-decoration: none; // Remove underline
    color: #A5C2AD;
    font-size: 24px; // BEGIN: Increase font size
    font-family: "Roboto Serif", serif;

  }

  ul{
    padding: 0;

    li{
      display: inline;
    }
  }
}