@import 'variables';

.register {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 8%;
  align-items: center;
  background-color: #A5C2AD;
  color: #5A3D52;
  font-family: "Roboto Serif", serif;
  min-width: 350px;
  border-radius: 24px;
  border-color: #181818;
  border-width: 2px;
  border-style: solid;

  form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}