/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


@import 'variables';
@import 'reset';
@import 'footer';
@import 'header';

.myapplications-index{
  .newapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 12px;
    background-color: #8BD3E6;
    max-width: 500px;
    min-width: 500px;
  }
  
  .my-applications{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    .job-card{
      border: 2px solid #000000;
      border-radius: 12px;
      background-color: #8BD3E6;
      margin: 10px;
      padding: 10px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-width: 300px;
      min-width: 300px;
    }
    
  }
}


h1,p,a {
  color: black;
}

:root{
  font-family: 'Roboto', sans-serif;
}

html, body {
  background-color: whitesmoke;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

