<footer>
  <div class="footer-container"> 
    <div class="footer-item">
      <div class="footer-link"> 
        <a href="https://github.com/MeritonAliu/">GitHub</a>
      </div>
      <div class="footer-link"> 
        <a href="/about">About</a>
      </div>
    </div>
  </div>
</footer>