<header>
  <nav>
    <ul>
      <li><%= link_to 'Home',root_path %></li>
      <li><%= link_to 'Applications',applications_path %></li>
      <li><%= link_to 'Markets',new_application_path %></li>
    </ul>
  </nav>
</header>